<%- include('../overall/header.ejs') %>
<%- include('navbar_admin.ejs') %>
<link rel="stylesheet" href="https://192.168.43.162:3000/css/admin.css">
<style media="screen">
  h1,h2,h3,h4,h5,h6{
    font-weight: lighter;
  }
</style>
<div class="container">
  <div class="card border-info">
    <div class="card-header bg-info text-white">
      <h5 class="text-center"><i class="fas fa-search" aria-hidden></i> Busqueda</h5>
    </div>
    <form id="search_news">
      <div class="card-body">
        <div class="row">
          <div class="card-body">
            <div class="row">
              <div class="col-4 offset-2">
                Noticia
                <input type="text" id="title" autocomplete="off" class="form-control">
              </div>
              <div class="col-2">
                Evento
                <select class="form-control" id="type">
                  <option value="">Todos</option>
                  <option value="1">Bloqueo, Manifestación</option>
                  <option value="2">Evento Social</option>
                  <option value="3">Mantenimiento de Vias</option>
                  <option value="4">Otros</option>
                </select>
              </div>
              <div class="col-2">
                <br>
                <button type="submit" class="btn btn-primary" id="search_button">
                  <span class="fas fa-search"></span>
                  Buscar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <br>
  <div class="card border-info">
    <div class="card-header bg-info text-white">
      <h5 class="text-center"><i class="fas fa-table" aria-hidden></i> Resultados</h5>
    </div>
    <form id="create_new">
      <div class="card-body">
        <div class="row">
          <div class="card-body" id="result">
            <h2 style="padding-top:10%;padding-bottom:10%;color:rgb(125, 125, 125)" class="text-center">Realice una Busqueda</h2>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Ubicación del Evento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="map" style="height:400px">

        </div>
      </div>
      <div class="modal-footer">
        <center>
          <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times-circle" aria-hidden></i>Cerrar</button>
        </center>
      </div>
    </div>
  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYfXp15LPz_VuK75gqcgNicuwK1H-1BOw"></script>
<script type="text/javascript" src="https://192.168.43.162:3000/js/moment.min.js"></script>
<script type="text/javascript" src="https://192.168.43.162:3000/js/admin_news.js"></script>
<%- include('../overall/footer.ejs') %>
